/**
 * General
 */
body 				{ margin: 0px; padding: 0px; background-color: #000; color: #fff; }
h1, h2				{ color: #BBB; margin: 10px 0px 5px 0px; }
p					{ margin: 0px; }
img					{ border: none; }

/**
 * Layout
 */
#outer-container 	{ text-align: center; }
#container 			{ text-align: left; margin: auto; width: 900px; }
#header 			{ height: 125px; }

/**
 * Page
 */
li span				{ color: #23A400; }
.textbox 			{ border: solid 2px #454545; background: #fff url(../img/textbox-bg.gif) bottom left repeat-x; padding: 1px 2px 1px 2px; width: 50px; text-align: right; }
#download			{ color: #fff; font-size: 1.25em; margin: 25px 0px 25px 0px; }
#download img		{ cursor: pointer; }
#download a,
#download a:link,
#download a:visited,
#download a:active	{ text-decoration: none; color: #fff; }
#download a:hover	{ text-decoration: underline; color: #23A400; }
#example-1			{ margin: 10px 0px 5px 0px;}
.code-example		{ font-size: .80em; margin: 10px 0px 10px 0px; border: solid 2px #135800; background-color: #C2EBB6; color: #000; padding: 10px; text-align: left; float: left; }


.example-table td	{ text-align: right; }
.label				{ font-weight: bold; text-align: right; color: #ccc; }
.total-row td		{ border-top: solid 2px #454545; padding-top: 5px; }