/**
 * General
 */
body 				{ margin: 0px; padding: 0px; background-color: #000; color: #fff; }
h1, h2				{ color: #BBB; margin: 10px 0px 5px 0px; }
.yui-content h2		{ color: #454545; }
p					{ margin: 0px 0px 5px 0px; }
img					{ border: none; }

a:link,
a:visited,
a:active	        { text-decoration: underline; color: #0A74D6; }
a:hover     	    { text-decoration: underline; color: #004E97; }


/**
 * Layout
 */
#outer-container 	{ text-align: center; }
#container 			{ text-align: left; margin: auto; width: 900px; }
#header 			{ height: 125px; }

/**
 * Page
 */
li span				{ color: #23A400; }
.textbox 			{ border: solid 2px #454545; background: #fff url(../img/textbox-bg.gif) bottom left repeat-x; padding: 1px 2px 1px 2px; width: 50px; text-align: right; }
#download			{ color: #fff; font-size: 1.25em; margin: 25px 0px 25px 0px; }
#download img		{ cursor: pointer; }
#download a,
#download a:link,
#download a:visited,
#download a:active	{ text-decoration: none; color: #fff; }
#download a:hover	{ text-decoration: underline; color: #23A400; }
.code-example		{ padding: 0px; margin: 0px; background-color: #000; border: solid 2px #454545; text-align: left; float: left; }
pre.sh_javascript	{ padding: 10px; float: left; }
.example			{ float: left; background-color: #fff; border: solid 2px #454545; margin-left: 10px; }
.example-description{ float: left; font-size: 1.10em; width: 300px; padding-left: 10px;  }


.example-table td	{ text-align: right; color: 000; }
.label				{ font-weight: bold; text-align: right; }
.total-row td		{ border-top: solid 2px #454545; padding-top: 5px; }

/**
 * Tabs
 */
/* .yui-navset defaults to .yui-navset-top */
.yui-navset .yui-nav,
.yui-navset .yui-navset-top .yui-nav { /* protect nested tabviews from other orientations */
    border:solid #2647a0; /* color between tab list and content */
    border-width:0 0 5px;
    Xposition:relative;
    zoom:1;
}

.yui-navset .yui-nav li,
.yui-navset .yui-navset-top .yui-nav li {
    margin:0 0.16em 0 0; /* space between tabs */
    padding:1px 0 0; /* gecko: make room for overflow */
    zoom:1;
}

.yui-navset .yui-nav .selected,
.yui-navset .yui-navset-top .yui-nav .selected { 
    margin:0 0.16em -1px 0; /* for overlap */
}

.yui-navset .yui-nav a,
.yui-navset .yui-navset-top .yui-nav a {
    background:#d8d8d8 url(../../../../assets/skins/sam/sprite.png) repeat-x; /* tab background */
    border:solid #a3a3a3;
    border-width:0 1px;
    color:#000;
    text-decoration:none;
}

.yui-navset .yui-nav a em,
.yui-navset .yui-navset-top .yui-nav a em {
    border:solid #a3a3a3;
    border-width:1px 0 0;
    cursor:hand;
    padding:0.25em .75em;
    left:0; right: 0; bottom: 0; /* protect from other orientations */
    top:-1px; /* for 1px rounded corners */
    position:relative;
}

.yui-navset .yui-nav .selected a,
.yui-navset .yui-nav .selected a:focus, /* no focus effect for selected */
.yui-navset .yui-nav .selected a:hover { /* no hover effect for selected */
    background:#2647a0 url(../../../../assets/skins/sam/sprite.png) repeat-x left -1400px; /* selected tab background */
    color:#fff;
}

.yui-navset .yui-nav a:hover,
.yui-navset .yui-nav a:focus {
    background:#bfdaff url(../../../../assets/skins/sam/sprite.png) repeat-x left -1300px; /* selected tab background */
    outline:0;
}

.yui-navset .yui-nav .selected a em {
    padding:0.35em 0.75em; /* raise selected tab */
}

.yui-navset .yui-nav .selected a,
.yui-navset .yui-nav .selected a em {
    border-color:#243356; /* selected tab border color */
}

.yui-navset .yui-content {
    background:#d8d8d8; /* content background color */
 	color: #000;
	overflow-y: auto;
}

.yui-navset .yui-content,
.yui-navset .yui-navset-top .yui-content {
    border:1px solid #808080; /* content border */
    border-top-color:#243356; /* different border color */
    padding:0.25em 0.5em; /* content padding */
}
.yui-content { height: 250px; }

/**
 * Syntax highlighting
 */
pre { font-family: "Courier New",Courier,monospace; font-size: 12px; color: #000000; }
span.comment { color: #008080; font-weight: normal; }
span.oper { color: #0000f0; font-weight: normal; }
span.var { color: #d56000; font-weight: normal; }
span.func { color: #aa00ff; font-weight: normal; }
span.string { color: #777777; font-weight: normal; }
span.num { color: #990000; font-weight: bold; }
span.reg { color: #8d7f07; font-weight: normal; }
